p.payment_module a.paydunya:after {
    color: #777777;
    content: "ÔÅî";
    display: block;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    margin-top: -11px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 14px;
}

p.payment_module a.paydunya {
    background: url("../img/paydunya.png") no-repeat scroll 15px #fbfbfb;
}